* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.pdf binary
*.docx binary
*.xlsx binary
*.pptx binary
*.pka binary
*.pkt binary
*.jar binary
